/*for picasso page*/
/*for button*/
.open-button {
    background-color: #20bb80;
    color: rgb(233, 239, 252);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 0.01vw;
    width: 96vw;
    font-size: 150%;
    right: 2%;
    left:2%;
  }
  /*formsubmitted page*/
.container{
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr ;
    column-gap: 5px;
}
.text {
    font-size: 300%;
  }
/*for picasso page*/
/*3 sqaure blocks image*/
.content{
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr; 
    margin-top: 2%;
    margin-left: 1.5%;
    margin-right: 0.5%;
  }
/*3 sqaure blocks image*/
.image1 {
    flex-direction: row;
    width: fit-content;
    max-width: 97%;
  }
/*for all images: square, humans, trees with owl and bubbles*/
.shape{
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 1.5%;
    margin-right: 0.5%;

  }
  /*1 big sqaure block image*/
  .image2{
    position: absolute;
    flex-direction: row;
    width: 96%; 
    top: 39%;
    left: 2%;
    z-index: 1;
  }
  /*front tree image with owl*/ 
.image3{
    position: absolute;
    top: 15%;
    left: 77%;
    width: 20%;
    z-index: 2;
}
/*back tree image with owl*/
.image4{
    position: absolute;
    top: 25%;
    left: 76.9%;
    width: 15%;
    z-index: 2;
}
/*human images*/
.image5{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 20%;
    z-index: 2;
}
/*human images*/
.image6{
    position: absolute;
    top: 50%;
    left: 29%;
    width: 20%;
    transform: scaleX(-1);
    z-index: 2;
}
/*bubble images*/
.image7{
    position: absolute;
    top: 2%;
    left: 5%;
    width: 30%;
    z-index: 2;
}
/*bubble images*/
.image8{
    position: absolute;
    top: 8%;
    left: 30%;
    width: 20%;
    transform: scaleY(-1);
    z-index: 2;
}
/*for form page*/
/*conatin whole form*/
.formContaier {
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: medium;
    margin-top: -3%;
}
/*conatin label input for form*/
.Container1 {
    padding: 50px;
    width: 50%;
    margin-left: 20%;
}
/*input type fot the form firstname and last name*/
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: medium;
}
/*input type for the email*/
input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: medium;
}
/*input fot the submit button*/

input[type=submit] {
    background: black;
    padding: 12px 20px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin: 30px 0;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
/*button when hover*/
input[type=submit]:hover {
    background-color: gray;
}
/*for all screen sizes*/
@media screen and (max-width:480px){
    .image2{
        width: 94%;
        right: auto;
        left: auto;
        top: auto;
        z-index: 1;
    }
    .image3{
        top: 10%;
        left: 75%;
        width: 20%;
        z-index: 2;
    }
    .image4{
        top: 17%;
        left: 74.9%;
        width: 15%;
        z-index: 2;
    }
    .image5{
        top: 38%;
        left: 10%;
        width: 20%;
        z-index: 2;
    }
    .image6{
        top: 38%;
        left: 29%;
        width: 20%;
        transform: scaleX(-1);
        z-index: 2;
    }
    .open-button {
        bottom: 0.01vw;
        width: 96vw;
        font-size: 150%;
        right: 2%;
        left:2%;
        top: 70%;
      }

}
